header {
  nav {
    padding: 0 4rem;
    min-height: 10vh;
    border-bottom: 1px solid $color-border;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }

    .input {
      flex: 2;
      display: flex;
      justify-content: center;

      input {
        width: 55%;
        padding: 0.6rem 0.8rem;
        background-color: #161616;
        border-radius: 8px;
        border: 1px solid $color-border;

        &::placeholder {
          color: $color-border;
          font-weight: 500;
        }
      }
    }

    .nav-items {
      display: flex;
      align-items: center;
      gap: 2rem;

      li {
        transition: all 0.2s ease-in-out;

        &:hover {
          color: white;
          transform: scale(1.1);
        }
      }
    }
  }

  .header-content {
    padding: 0 10rem 5rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    min-height: calc(100vh - 10vh);

    .text-content {
      >h1 {
        font-size: clamp(2rem, 5vw, 5rem);
        color: #f2994a;
        transition: all 0.01s linear;
        padding-bottom: 1.5rem;
      }

      .buttons {
        display: flex;
        gap: 1rem;
        margin-top: 2.5rem;
      }
    }

    .image-content {
      width: fit-content;
      margin-left: auto;

      .image {
        padding: 1rem;
        border-radius: 8px;
        background-color: $color-bg;
        border: 1px solid $color-border;

        img {
          border-radius: 8px;
        }
      }
    }
  }
}